<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Software Tools</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
</head>

<body>
    <header class="bg-dark">
        <div class="container pt-4 pt-xl-5">
            <div class="row pt-5">
                <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
                    <div class="text-center">
                        <h1 class="fw-bold">Software Toolbelt</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section></section>
    <section>
        <div class="container py-5">
            <div class="mx-auto" style="max-width: 900px;">
                <div class="row row-cols-1 row-cols-md-2 d-flex justify-content-center">
                    <div class="col mb-4">
                        <div class="card bg-primary-light">
                            <div class="card-body text-center px-4 py-5 px-md-5">
                                <p class="fw-bold text-primary card-text mb-2"></p>
                                <h5 class="fw-bold card-title mb-3">COLOR TO BLACK & WHITE IMAGE</h5><button class="btn btn-primary btn-sm" type="button" onclick="window.location.href='grayscale'">Click Here</button>
                            </div>
                        </div>
                    </div>
                    
<div class="col mb-4">
                        <div class="card bg-info-light">
                            <div class="card-body text-center px-4 py-5 px-md-5">
                                <p class="fw-bold text-secondary card-text mb-2"></p>
                                <h5 class="fw-bold card-title mb-3">PDF TO WORD CONVERSION</h5><button class="btn btn-secondary btn-sm" type="button" onclick="window.location.href='pdftoword'">Click Here</button>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card bg-success-light">
                            <div class="card-body text-center px-4 py-5 px-md-5">
                                <p class="fw-bold text-secondary card-text mb-2"></p>
                                <h5 class="fw-bold card-title mb-3">IMAGE RESIZING</h5><button class="btn btn-secondary btn-sm" type="button" onclick="window.location.href='resize'">Click Here</button>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card bg-secondary-light">
                            <div class="card-body text-center px-4 py-5 px-md-5">
                                <p class="fw-bold text-info card-text mb-2"></p>
                                <h5 class="fw-bold card-title mb-3">IMAGE BLURRINESS DETECTION</h5><button class="btn btn-info btn-sm" type="button" onclick="window.location.href='blur'">Click Here</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-dark"></footer>
    <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/bold-and-dark.js"></script>
    
</body>

</html>